In [2]:
import numpy as np
import pandas as pd

# Task 1: Create a DataFrame with random values
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

print("Task 1: DataFrame with random values:")
print(df)

Task 1: DataFrame with random values:
   Random value 1  Random value 2  Random value 3  Random value 4
0        0.058173        0.190074        0.378912        0.444512
1        0.320514        0.956163        0.998510        0.788890
2        0.219590        0.288465        0.657421        0.165473
3        0.835455        0.864690        0.577056        0.318818

In [3]:
# Task 2: Rename the columns
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

print("\nTask 2: Renamed column names:")
print(df.columns)

Task 2: Renamed column names:
Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

In [4]:
# Task 3: Descriptive statistics
descriptive_stats = df.describe()

print("\nTask 3: Descriptive statistics:")
print(descriptive_stats)

Task 3: Descriptive statistics:
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.358433        0.574848        0.652975        0.429423
std          0.335868        0.391355        0.258385        0.265423
min          0.058173        0.190074        0.378912        0.165473
25%          0.179235        0.263867        0.527520        0.280482
50%          0.270052        0.576577        0.617239        0.381665
75%          0.449249        0.887558        0.742693        0.530607
max          0.835455        0.956163        0.998510        0.788890

In [5]:
# Task 4: Check for null values and data types
null_values = df.isnull().sum()
data_types = df.dtypes

print("\nTask 4: Null values and data types:")
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Task 4: Null values and data types:
Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [6]:
# Task 5: Display 'Random value 2' and 'Random value 3'
value_2_location = df['Random value 2']
value_3_index = df.loc[:, 'Random value 3']

print("\nTask 5: Display 'Random value 2' and 'Random value 3:")
print("Random value 2:")
print(value_2_location)
print("\nRandom value 3:")
print(value_3_index)

Task 5: Display 'Random value 2' and 'Random value 3:
Random value 2:
0    0.190074
1    0.956163
2    0.288465
3    0.864690
Name: Random value 2, dtype: float64

Random value 3:
0    0.378912
1    0.998510
2    0.657421
3    0.577056
Name: Random value 3, dtype: float64